<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if title %}
            <title>{{ title }} - VisionScript Documentation</title>
        {% else %}
            <title>VisionScript Documentation</title>
        {% endif %}

        <meta name="description" content="VisionScript is an abstract programming language for computer vision." />

        <link rel="stylesheet" href="/assets/style.css">
    </head>
    <body>
        <nav>
            <p><a href="/">VisionScript</a></p>
            <ul>
                <li><a href="/std">Reference</a></li>
                <li><a href="/syntax">Syntax</a></li>
                <li><a href="https://github.com/capjamesg/visionscript">GitHub</a></li>
            </ul>
        </nav>
        <main>
            {{ content | safe }}
        </main>
        <footer>
            <p>Made with ❤️ and ☕ by <a href="https://jamesg.blog">capjamesg</a>.</p>
        </footer>
    </body>
</html>