<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if title %}
            <title>{{ title }} - VisionScript Documentation</title>
        {% else %}
            <title>VisionScript Documentation</title>
        {% endif %}

        <meta name="description" content="VisionScript is an abstract programming language for computer vision." />

        <link rel="stylesheet" href="/assets/styles.css">

        <link rel="manifest" href="/assets/manifest.json">

        <link rel="icon" href="/assets/logo.svg" type="image/svg+xml">

        <meta property="og:image" content="https://screenshots.jamesg.blog/?url=https://visionscript.dev">
    </head>
    <body>
        <nav>
            <p><a href="/">VisionScript</a></p>
            <ul>
                <li><a href="/#install">Install</a></li>
                <li><a href="/quickstart">Quickstart</a></li>
                <li><a href="/tutorials">Tutorials</a></li>
                <li><a href="/docs">Reference</a></li>
                <li><a href="/paper">Paper Mode</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="https://github.com/capjamesg/visionscript">GitHub</a></li>
            </ul>
        </nav>
        <main class="h-entry">
            {{ content | safe }}
        </main>
        <footer>
            <p>Made with ❤️ and ☕ by <a href="https://jamesg.blog">capjamesg</a>.</p>
        </footer>
    </body>
</html>