---
title: VisionScript Documentation
layout: default.njk
---

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "VisionScript Documentation",
      "item": "https://visionscript.org/docs/"
    },
    {
      "@type": "ListItem",
      "position": 2,
      "name": "{{ title }}",
      "item": "{{ url }}"
    }
  ]
}
</script>

<div class="breadcrumbs">
    <a href="https://visionscript.org/docs/">VisionScript Documentation</a> &gt; {{ title }}
</div>

<h1 class="p-name">{{ title }}</h1>
<p class="p-summary">{{ definition }}</p>
<div class="e-content">
{{ content | safe }}
</div>
<h2>See Also</h2>
<ul>
    {% for page in collections.std %}
        {% if page.data.title != title %}
            <li><p><a href="{{ page.url }}">{{ page.data.title }}</a></p></li>
        {% endif %}
    {% endfor %}
</ul>