* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
a {
    color: darkgreen;
    text-decoration: none;
}
html, body {
    background-color: #f7f7f7;
    padding: 0;
    margin: 0;
    line-height: 1.5;
}
h1, h2, h3 {
    color: darkgreen;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.1rem;
}
main, header, .breadcrumbs {
    max-width: 40em;
    margin: 0 auto;
    padding: 1rem;
    padding-bottom: 0;
}
header {
    padding-top: 0;
    padding-bottom: 0;
}
main {
    padding-top: 0;
}
main ul li {
    margin-bottom: 0.5rem;
}
.link_button {
    background-color: darkgreen;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: inline-block;
    margin-bottom: 1rem;
}
pre {
    background-color: #636363;
    padding: 1rem;
    border-radius: 0.5rem;
    white-space: pre-wrap;
}
nav {
    background-color: darkgreen;
    padding: 0.5rem;
}
footer {
    display: flex;
    margin: auto;
    max-width: 50em;
    border-top: 2px solid darkgreen;
    padding: 1rem 0;
}
footer div {
    flex: 1 1 50%;
    padding: 0 1rem;
}
footer p {
    color: black;
    font-weight: bold;
    text-align: left;
    font-size: 1.2rem;
}
footer a {
    font-weight: normal;
}
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
footer li a {
    color: darkgreen;
}
#attribution {
    text-align: center;
}
footer li {
    margin-bottom: 1rem;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    margin-right: 1rem;
}
nav a, footer a {
    color: white;
    text-decoration: none;
}
footer {
    text-align: center;
}
aside {
    position: fixed;
    top: 3rem;
    left: 0;
    padding: 1rem;
    overflow-y: scroll;
}
aside li {
    display: block;
    margin-bottom: 1rem;
}
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}
th, td {
    text-align: left;
    padding: 0.5rem;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
th {
    background-color: darkgreen;
    color: white;
}
main {
    min-height: 80vh;
}
footer {
    margin-top: 2rem;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}
code {
    background-color: #eee;
    padding: 0.1rem 0.3rem;
    border-radius: 0.3rem;
}
pre code {
    background-color: #636363;
    padding: 0.1rem 0.3rem;
    border-radius: 0.3rem;
    white-space: pre-wrap;
}
.breadcrumbs a {
    color: darkgreen;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.gallery img {
    width: 100%;
    margin-bottom: 1rem;
}
.gallery img:hover {
    opacity: 0.8;
}
.gallery img:active {
    opacity: 0.5;
}
.gallery li {
    flex: 1 1 30%;
    margin-bottom: 1rem;
    border: 2px solid darkgreen;
}
.hide_on_desktop {
    display: none;
}
.hide_on_mobile {
    display: block;
}
figure {
    margin: 0;
}
#menu {
    display: flex;
}
#mobile_menu {
    display: none;
}
input[type="text"] {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}
nav button {
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.side_by_side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}
.language_card {
    flex: 1 1 30%;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    display: block;
    color: black !important;
}
.language_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.Input {
    background-color: #a2d2ff;
}
[class~="keyword.input.vic"] {
    color: #a2d2ff;
}
.Process {
    background-color: #cdb4db;
}
[class~="keyword.process.vic"] {
    color: #cdb4db;
}
.Find {
    background-color: #ccd5ae;
}
[class~="keyword.find.vic"] {
    color: #ccd5ae;
}
.Output {
    background-color: lavender;
}
[class~="keyword.output.vic"] {
    color: lavender;
}
.Logic {
    background-color: #ffdf6b;
}
[class~="keyword.logic.vic"] {
    color: #ffdf6b;
}
[class~="string.quoted.double.vic"] {
    color: #ffdf6b;
}
[class~="constant.numeric.vic"] {
    color: #ffdf6b;
}
.badge {
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: -1rem;
    display: inline-block;
    font-size: 0.8rem;
    background-color: lightpink;
    box-shadow: 0 0 0 1px #ccc;
}
.side_by_side div:first-child {
    padding-right: 20px;
}
.callout {
    background-color: #ffe83c;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}
.info {
    background-color: #a2d2ff;
}
.copy_button {
    background-color: darkgreen;
    float: right;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.tooltip {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}
@media screen and (max-width: 600px) {
    .side_by_side {
        flex-direction: column;
    }
    .side_by_side div:first-child {
        padding-right: 0;
    }
    #menu {
        display: none;
    }
    #mobile_menu {
        list-style-type: none;
    }
    #mobile_menu li {
        width: 100%;
        margin-bottom: 15px;
    }
    footer {
        flex-direction: column;
        text-align: left;
    }
    footer img {
        max-width: 10em;
    }
    .hide_on_desktop {
        display: block;
    }
    .hide_on_mobile {
        display: none;
    }
}